<div th:replace="fragments/header"></div>
<h1>ERROR ERROR ERROR</h1>
<h2>The Website Has Caused An Error</h2>
<h2 th:text="${message}"></h2>
<a href="/">Go Home</a>
<div th:replace="fragments/footer"></div>